body {
	background:lightblue;
}

h1 {
	text-align: center;
}
div {
	background: lightgray;
	border:1px solid black;
}
button {
	background:white;
}
.container {
	margin:auto;
	padding:auto;
}
img{
	width:75px;
	height: 75px;
}

footer {
	background: gray;
	border-top:2px solid black;
}